@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=DotGothic16&family=Krona+One&family=Stick&display=swap');

// font
$font-1: 'DotGothic16', cursive;
$font-2: 'Akaya Telivigala', sans-serif;
$font-3: 'Stick', sans-serif;
$font-4: 'Krona One', sans-serif;

// charte graphique hexa
$color-1: #FF4D5A;
$color-2: #072142;
$color-3:#828C96;
$color-4: #333333;
$color-5: #0000EE;
$black: #000000;
$white: #FFFFFF;

// charte graphique rgb
$color-1-rgb: rgb(255, 77, 90);
$color-2-rgb:rgb(7, 33, 66);
$color-3-rgb:rgb(130, 140, 150);
$color-4-rgb: rgb(51, 51, 51);
$color-5-rgb: (0,0,238);
$black-rgb: rgb(0,0,0);
$white-rgb: rgb(255,255,255);

$borderRadius: 25px;
$shadow: 0 1px 3px #333;
$minHeight: 95vh;

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 1rem auto;
    max-width: 1200px;
    font-family: $font-2;
    color: $white;
}
button {
    cursor: pointer;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: $white;
    cursor: pointer;
}
a.visited {
    color: $white;
}
.acceuil, .cv, .portfolio, .contact {
    display: flex;

    @media screen and (max-width:850px) {
        display: block!important;
    }
}
.acceuilContent, .cvContent, .portfolioContent, .contactContentent {
    margin-left: .4rem;

    @media screen and (max-width:850){
        margin-left: 0 !important;
    }
}